
    		<aside id="withit-aside" role="complementary" class="">
            <a href=""><img src="/static/images/hip-hop.png" alt="withit-logo" width="150" height="150">your reliable news hub</a>
			<h1 id="withit-logo"><a href="index.html"><span class="flaticon-newspaper"></span>WithIt!</a></h1>
			<nav id="withit-main-menu" role="navigation">
				<ul>
          <li><a href="/">Home</a></li>
          <li><a href="/article">Articles</a></li>
          <li><a href="/search">Search</a></li>
					<li><a href="/favourites">Favourites</a></li>
					<li><a href="/support">Support</a></li>
				</ul>
			</nav>

			<div class="withit-footer">
				<div class="d-flex justify-content-center">
					<ul class="d-flex align-items-center">
						<li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-instagram"></i></a></li>
						<li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</aside>